// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sol-sticker {
  min-height: 64px;
  min-width: 64px;
  height: 64px;
  width: 64px;
  border: 1px solid #AAA;
  display: inline-block;
  &>a {
    size: 200%;
  }
}
.search-result {
  min-height: 100px;
}
.search-result:nth-child(even) {
  background-color: #EEE;
}
.search-template {
  display: none;
}
